@import "../../app.component.scss";

.breadcrumb{
  background-color: transparent!important;
}
.side-nav-container{
  padding: 15px;
}
.side-nav-container h5
{margin-bottom: 10px}


.nav-link{
  color: $backgroundColor;
}

.active::before,.breadcrumb-item::before {
  content: none;

}
.active,.breadcrumb-item a{
  font-weight: bold;
  color:$basicTextColor;
}
.breadcrumb-item a{
  text-decoration: underline;
color:$backgroundColor !important;
  opacity:0.9
}
.breadcrumb-item a:hover{
  color:$backgroundColor !important;
  opacity:1
}
.my-container{
  margin: auto;
}
