@import "../../app.component.scss";

.breadcrumb {
  background-color: transparent !important;
}

.side-nav-container {
  padding: 15px;
}

.side-nav-container h5 {
  margin-bottom: 10px
}


a {
  text-decoration: underline !important;
  color: $navigationBarColor !important;
  opacity: 0.9
}
a:hover{
  color: $navigationBarColor !important;
  opacity: 1
}

.active::before, .breadcrumb-item::before {
  content: none;

}


.my-container {
  margin: auto;
}
