<div class="container-fluid my-5">
  <div class="row">
    <div class="col-md-2">
      <div class="container my-account-side-nav">
        <div class="row">
          <div class="col-8">
            <div *ngFor="let group of groups" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link border " [routerLinkActive]="['active']" id="v-pills-home-tab" data-toggle="pill"
                 [routerLink]="['./'+group.name]" role="tab"
                 aria-controls="v-pills-home" aria-selected="true">{{group.name}}</a>
            </div>
            <button class="nav-link border  btn-success" ><i class="fas fa-plus-circle"> create</i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-7">
      <div class="tab-content" id="v-pills-tabContent">
      <router-outlet></router-outlet>
    </div>  </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
