@import "../group-detail.component";

.chat-room,.minimalize {
  right: 1%;
  bottom: 1%;
  width: 25rem !important;
  height: 30rem !important;
  position: fixed !important;
}
.maximalize{
  font-size: 1rem;
  position: fixed!important;
 bottom: 1% !important;
  right: 1%;
background-color: $navigationBarColor;
  color: $basicTextColor;


}
.hidden{
  display: none !important;
}
.minimalize{
  position: fixed;
  width: initial !important;
  height: initial !important;
  bottom:29rem;
  right: 2%;
font-size: 0.8rem;
  color: $basicTextColor;
  z-index: 1000;

}
.minimalize {

  opacity: 0.8;
}
.minimalize:hover,.maximalize:hover{
  opacity: 1;
  cursor: pointer;
}

.my-message-text {
  background-color: $navigationBarColor;

}

.chat-footer, .chat-footer input {
  background-color: $navigationBarColor;
  color: $basicTextColor;
}

.my-message-text {
  color: $basicTextColor !important;

}

.my-message, .other-member-message {
  max-width: 75% !important;

}

.my-message-text, .other-member-message-text {
  border-radius: 20px !important;
  font-size: 1em !important;
}

.message-margin-left {
  margin-left: 35px;
}

.message-photo {
  margin-top: 10% !important;
}

.other-member-message-text {
  background-color: $backgroundColor;
  color: $secondaryTextColor !important;

}


.chat-message {
  padding: 15px;
}

.message-reaction, .edit-message {
  opacity: 0;
}

.message-reaction:hover {
  cursor: pointer;
  opacity: 1 !important;
}

.seen {

  display: block !important;
}

.chat-heading {
  background-color: $navigationBarColor;
  color: $basicTextColor;
}

.message {
  display: block;
}

.my-custom-scrollbar {
  border-left: 1px solid $navigationBarColor;
  border-right: 1px solid $navigationBarColor;
  overflow-y: scroll;
  height: 80% !important;
  scrollbar-color: transparent transparent !important;

}

.chat-room:hover .my-custom-scrollbar {
  scrollbar-color: $basicTextColor $navigationBarColor !important;
  border-right: 0px solid $navigationBarColor;
}


.chat-footer .form-control {

  background-color: $navigationBarColor;
  color: $basicTextColor;
  scrollbar-color: $basicTextColor $navigationBarColor !important;
  resize: none;
  border-radius: 0px;


}

.message-time, .message-reaction {
  font-size: 0.9em;
}

textarea::-webkit-input-placeholder {
  color: $basicTextColor;
}

textarea:-moz-placeholder { /* Firefox 18- */
  color: $basicTextColor;
}

textarea::-moz-placeholder { /* Firefox 19+ */
  color: $basicTextColor;
}

textarea:-ms-input-placeholder {
  color: $basicTextColor;
}

textarea::placeholder {
  color: $basicTextColor;
}

.reaction-emoji {
  opacity: 0.8;
}

.reaction-emoji-selected {
  opacity: 1;
  background-color: $backgroundColor;
  border-radius: 10px;

}
.reactions-message:hover .reactions-count{
  font-weight: bold;
}

.remove-reaction {
  color: $secondaryTextColor;
  font-weight: bold;
  opacity: 0.8;
  position: absolute;
  font-size: 1.1rem;
  top: -15%
}

.remove-reaction:hover {
  cursor: pointer;
  opacity: 1;

}

.reaction-emoji:hover,.reactions-message:hover, .edit-message:hover {
  opacity: 1 !important;
  cursor: pointer;
}

.stop-scrolling {
  overflow: hidden !important;
}

.messages-container:hover .message-reaction, .messages-container:hover .edit-message {
  opacity: 0.8;
}

.changelog{
z-index: 100 !important;
  max-height: 150px !important;
  width: 255px!important;
  overflow-y: scroll !important;
}
.changelog-item{
  width: 85px!important;
}
