<div
  *ngIf="chatHidden"
  mdbBtn
  class="pl-2 pr-2 pb-3 z-depth-1a custom-button maximize  d-flexshadow rounded flex-row"
>
  <div class="text-center maximize-text" *ngIf="chatHidden">chat</div>
  <div class="d-flex flex-row">
    <div class="chat-volume mr-2 align-self-center" ngSwitch="{{userServiceProvider.groupService.chatMuted}}"
         (click)="userServiceProvider.groupService.chatMuted= !userServiceProvider.groupService.chatMuted">
      <div class="p-0 " mdbTooltip="volume-up" *ngSwitchCase="'true'">
        <mdb-icon fas icon="volume-mute"></mdb-icon>
      </div>
      <div class="p-0 " mdbTooltip="mute" *ngSwitchCase="'false'">
        <mdb-icon fas icon="volume-up"></mdb-icon>
      </div>
    </div>
    <div class="" (click)="chatHidden=false">
      <div class=" text-center flex-shrink-1">
        <mdb-icon fas icon="angle-up"></mdb-icon>
      </div>
    </div>

  </div>
  <div class="text-center">
    <small *ngIf=" userServiceProvider.groupService.groupUnreadMessages.get(group.name)!==0" class="align-right ml-2">
      <mdb-icon far icon="comments" class="pr-1 animated wobble"></mdb-icon>
      <span
        class="badge badge-danger text-right animated wobble">{{    userServiceProvider.groupService.groupUnreadMessages.get(group.name)}}</span>
    </small>
  </div>
</div>

<mdb-card [ngClass]="chatHidden?'chat-room small-chat wide invisible ':'chat-room small-chat wide'">

  <mdb-card-header class="chat-heading p-3" id="toggle" style="cursor: pointer;">
    <div class="chat-open-settings">
      <div class="d-flex flex-row">
        <div class="chat-volume" ngSwitch="{{userServiceProvider.groupService.chatMuted}}"
             (click)="userServiceProvider.groupService.chatMuted= !userServiceProvider.groupService.chatMuted">
          <div class="p-0 " mdbTooltip="volume-up" *ngSwitchCase="'true'">
            <mdb-icon fas icon="volume-mute"></mdb-icon>
          </div>
          <div class="p-0 " mdbTooltip="mute" *ngSwitchCase="'false'">
            <mdb-icon fas icon="volume-up"></mdb-icon>
          </div>
        </div>
        <div class="ml-2">
          <small *ngIf=" userServiceProvider.groupService.groupUnreadMessages.get(group.name)!==0"
                 class="align-right ml-2">
            <mdb-icon far icon="comments" class="pr-1 animated wobble"></mdb-icon>
            <span
              class="badge badge-danger text-right animated wobble">{{    userServiceProvider.groupService.groupUnreadMessages.get(group.name)}}</span>
          </small>
        </div>

      </div>

    </div>
    <p class="name mb-0 text-center">
      <strong>Group chat</strong></p>

    <div *ngIf="!chatHidden && !showReactions" (click)="chatHidden=true" class="minimize -align-right">
      <div class="p-0 " mdbTooltip="hide">
        <mdb-icon fas icon="angle-down"></mdb-icon>
      </div>
    </div>

  </mdb-card-header>
  <cdk-virtual-scroll-viewport [maxBufferPx]="50" [minBufferPx]="15" itemSize="50" (scrolledIndexChange)="scrolled()"
    [ngClass]="showReactions?'my-custom-scrollbar stop-scrolling':'my-custom-scrollbar'"
    id="scrollable-window">
    <mdb-card-body class="p-3 pb-5">
      <div *ngIf="loading" class="d-flex flex-column">
        <div class="p-2 m-auto">
          <div class="spinner-grow text-dark" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="p-2 m-auto">Loading chat</div>

      </div>

      <div *ngIf="!loading">
        <div class=" d-flex justify-content-center">
          <mdb-spinner *ngIf="fetchingOlder" spinnerColor="blue" spinnerType="small"></mdb-spinner>

        </div>
        <div #messages *cdkVirtualFor="let message of messages;last as isLast; let i = index;"
             class="messages-container"

        >

          <div class="pr-2 d-flex justify-content-end"
               *ngIf="this.user.username===message.author.username"
          >

            <mdb-card

              class="my-message rounded float-right z-depth-0 mb-1 d-flex p-1">
              <mdb-card-header class="p-0 border-0 bg-transparent text-muted small ml-2 mb-1">
                <div [ngClass]="isMobileOrTablet?'opacity-100':'edit-message opacity-100'">
                  <mdb-icon fas icon="pen"></mdb-icon>
                  edit
                </div>

              </mdb-card-header>

              <mdb-card-body *ngIf="!message.attachment" class="pl-3 p-2 my-message-text small"
                             [innerHTML]="getInnerHtml(message.value)">

              </mdb-card-body>
              <mdb-card-body *ngIf="message.attachment" class="pl-3 p-2 small">
                <img width="20px" [src]="getAttachmentIcon(message.attachment)|cachedImage|async" class="mr-1" *ngIf="!isAttachmentImage(message.attachment)"><a
                (click)="downloadAttachment(message)">{{message.value}}</a>
                <img class="rounded img-fluid mw-100" *ngIf="isAttachmentImage(message.attachment)"
                     [src]="userServiceProvider.serverConfig.getFullUrl('group/'+this.group.id+'/attachment/'+message.attachment)|secureImage| async">
              </mdb-card-body>
              <mdb-card-footer
                class="mr-2 p-0 border-0 bg-transparent  other-member-message-header">
                <div class="d-flex flex-row m-0">
                  <div *ngFor="let reaction of message.reactions">
                    <div class="pl-1" *ngIf="reaction.users.length>0">
                      <div class="d-flex reactions-message">
                        <div class="pl-1 reactions-count"
                             *ngIf="reaction.users.length>1"> {{reaction.users.length}}</div>
                        <div class="pl-1" [mdbTooltip]="reactionTooltip"><img width="18"
                                                                              [src]="'../../../../../assets/emojis/051-'+reaction.name+'.svg'|cachedImage|async"

                        ></div>

                      </div>
                      <ng-template #reactionTooltip class="mb-2">
                        <ul class="list-unstyled ">
                          <li class="list-item" *ngFor="let user of reaction.users">{{user.username}}</li>
                        </ul>
                      </ng-template>

                    </div>
                  </div>

                </div>
                <ng-template #clickImgTemp

                >

                  <div

                    class="d-flex flex-row reaction-emojis-container">

                    <div

                      mdbTooltip="{{message.currentUserReaction===reactionName?null:reactionName}}"
                      [ngClass]="message.currentUserReaction===reactionName?'p-2 reaction-emoji-selected':'p-2 reaction-emoji'"
                      *ngFor="let reactionName of reactionsNames">
                      <img width="18" [src]="'../../../../../assets/emojis/051-'+reactionName+'.svg'|cachedImage|async"

                           (click)="react(message,reactionName)"
                      >
                      <small
                        *ngIf="message.currentUserReaction===reactionName"
                        class="remove-reaction text-center" (click)="removeReaction(message,reactionName)">x
                      </small>
                    </div>
                  </div>
                </ng-template>


                <ng-template #changesTemplate

                >

                  <ul class="list-unstyled changelog">
                    <div class="text-center small font-weight-bold ">
                      Changes made by {{this.user.username}}
                    </div>
                    <li *ngFor="let change of message.changes | sort:'creationTimestamp'">
                      <div class="d-flex flex-nowrap example-parent">
                        <div
                          class="changelog-item flex-fill order-1 p-1 col-example small border-bottom">{{getMessageTimestampRelevance(change.creationTimestamp)}}</div>
                        <div
                          class="changelog-item flex-fill order-2 p-1 col-example small border-bottom">{{change.oldValue}}</div>
                        <div
                          class="changelog-item flex-fill order-3 p-1 col-example small border-bottom">{{change.newValue}}</div>
                      </div>
                    </li>
                  </ul>
                </ng-template>
                <a placement="right" [mdbPopover]="clickImgTemp" triggers="click"
                   class="message-reaction text-muted small"
                   (click)="addReactionsClicked()"


                >+ react</a>
                <a placement="top"
                   [ngClass]="isMobileOrTablet?'ml-2 text-muted small':'ml-2 message-reaction text-muted small'"
                   *ngIf="message.changes!==null && message.changes.length>0"
                   [mdbPopover]="changesTemplate" triggers="click"
                   (click)="addReactionsClicked()"
                >
                  <mdb-icon fas icon="clock"></mdb-icon>
                  changelog</a>


              </mdb-card-footer>
            </mdb-card>
          </div>

          <div class="text-muted small text-center mb-3 message-time"

               *ngIf="message.shouldShowAuthorsName && this.user.username!==message.author.username">
            {{getMessageTimestampRelevance(message.timestamp)}}
          </div>
          <div *ngIf="this.user.username!==message.author.username"
               [ngClass]="message.shouldShowAuthorsName?'pl-2 d-flex justify-content-start mb-2 other-member-message':'pl-2 d-flex justify-content-start mb-1  other-member-message'"
          >
            <div
              *ngIf="!message.shouldShowAuthorsPhoto"
              class="message-margin-left"
            ></div>
            <div
              *ngIf="message.shouldShowAuthorsPhoto"
              class="profile-photo message-photo ">
              <img
                [src]="userServiceProvider.serverConfig.getFullUrl('users/'+message.author.id+'/avatar.jpg') | secureImage | async"
                alt="avatar"
                class="avatar rounded-circle mr-1 ml-0 mb-0">

            </div>


            <mdb-card bgColor="bg-transparent" class="z-depth-0"

            >

              <mdb-card-header
                *ngIf="message.shouldShowAuthorsName"
                class="p-0 border-0 bg-transparent text-muted small other-member-message-header ml-2">

                {{message.author.username}} </mdb-card-header>
              <mdb-card-body *ngIf="!message.attachment" class="pl-3 p-1 other-member-message-text small" [innerHTML]="getInnerHtml(message.value)">

              </mdb-card-body>
              <mdb-card-body *ngIf="message.attachment" class="pl-3 p-2 small">
                <img width="20px" [src]="getAttachmentIcon(message.attachment)" class="mr-1" *ngIf="!isAttachmentImage(message.attachment)"><a
                (click)="downloadAttachment(message)">{{message.value}}</a>

                <img class="rounded img-fluid mw-100" *ngIf="isAttachmentImage(message.attachment)"
                     [src]="userServiceProvider.serverConfig.getFullUrl('group/'+this.group.id+'/attachment/'+message.attachment)|secureImage| async">
              </mdb-card-body>
              <mdb-card-footer
                class="ml-2 p-0 border-0 bg-transparent  other-member-message-header">
                <div class="d-flex flex-row m-0">
                  <div *ngFor="let reaction of message.reactions">
                    <div class="pl-1" *ngIf="reaction.users.length>0">
                      <div class="d-flex reactions-message">
                        <div class="pl-1 reactions-count"
                             *ngIf="reaction.users.length>1"> {{reaction.users.length}}</div>
                        <div class="pl-1" [mdbTooltip]="reactionTooltip"><img width="18"
                                                                              [src]="'../../../../../assets/emojis/051-'+reaction.name+'.svg'|cachedImage|async"

                        ></div>

                      </div>
                      <ng-template #reactionTooltip class="mb-2">
                        <ul class="list-unstyled ">
                          <li class="list-item" *ngFor="let user of reaction.users">{{user.username}}</li>
                        </ul>
                      </ng-template>

                    </div>
                  </div>

                </div>
                <ng-template #clickImgTemp
                             class="shadow z-depth-1"
                >

                  <div

                    class="d-flex flex-row reaction-emojis-container">

                    <div

                      mdbTooltip="{{message.currentUserReaction===reactionName?null:reactionName}}"
                      [ngClass]="message.currentUserReaction===reactionName?'p-2 reaction-emoji-selected':'p-2 reaction-emoji'"

                      *ngFor="let reactionName of reactionsNames">
                      <img width="18" src="{{'../../../../../assets/emojis/051-'+reactionName+'.svg'}}"

                           (click)="react(message,reactionName)"
                      >
                      <small
                        *ngIf="message.currentUserReaction===reactionName"
                        class="remove-reaction text-center" (click)="removeReaction(message,reactionName)">x
                      </small>
                    </div>
                  </div>
                </ng-template>


                <ng-template #changesTemplate

                >

                  <ul class="list-unstyled changelog">
                    <div class="text-center small font-weight-bold ">
                      Changes made by {{message.author.username}}
                    </div>
                    <li *ngFor="let change of message.changes | sort:'creationTimestamp'">
                      <div class="d-flex flex-nowrap example-parent">
                        <div
                          class="changelog-item flex-fill order-1 p-1 col-example small border-bottom">{{getMessageTimestampRelevance(change.creationTimestamp)}}</div>
                        <div
                          class="changelog-item flex-fill order-2 p-1 col-example small border-bottom">{{change.oldValue}}</div>
                        <div
                          class="changelog-item flex-fill order-3 p-1 col-example small border-bottom">{{change.newValue}}</div>
                      </div>
                    </li>
                  </ul>
                </ng-template>
                <a placement="right" [mdbPopover]="clickImgTemp" triggers="click"
                   class="message-reaction text-muted small"
                   [ngClass]="isMobileOrTablet?'text-muted small':'message-reaction text-muted small'"
                   (click)="addReactionsClicked()"


                >+ react</a>
                <a placement="top"
                   class="ml-2 message-reaction text-muted small"
                   *ngIf="message.changes!==null && message.changes.length>0"
                   [mdbPopover]="changesTemplate" triggers="click"
                   (click)="addReactionsClicked()"
                >
                  <mdb-icon fas icon="clock"></mdb-icon>
                  changelog</a>

              </mdb-card-footer>
            </mdb-card>
          </div>
          <div class="text-muted small text-center mb-2 message-time"
               *ngIf="isLast && seenBy!==''">
            Seen by: {{seenBy}}
          </div>
        </div>
      </div>
    </mdb-card-body>
  </cdk-virtual-scroll-viewport>
  <mdb-card-footer class="chat-footer pt-1 pb-1 px-3">
    <div  class="message-box" id="editable" [contentEditable]="message.innerHTML.length<4000"  data-placeholder="type a message..." #message (click)="lastCursorPosition=getCaretCharacterOffsetWithin(message)" (keydown)="lastCursorPosition=getCaretCharacterOffsetWithin(message)"></div>

    <div>
      <a>
        <mdb-icon far icon="laugh" class="mr-2  chat-icon"  [mdbPopover]="smallHoverImgTemp" placement="top" triggers="click"></mdb-icon>
      </a>
      <ng-template #smallHoverImgTemp><app-emojis-popover (emojiSelected)="addEmoji(message,$event)"></app-emojis-popover></ng-template>

      <a>
        <input #uploadFile type="file" style="display:none"
               (change)="uploadFileComponent.handleFileInput($event.target.files,userServiceProvider.serverConfig.getFullUrl('group/'+group.name+'/chat/attachment'))">
        <mdb-icon fas icon="paperclip" (click)="uploadFile.click()" class="mr-2  chat-icon"></mdb-icon>

      </a>
      <a>
        <mdb-icon

          fas icon="paper-plane" class="float-right chat-icon"
          (click)="sendMessage(message.innerHTML);message.innerHTML=''"></mdb-icon>

      </a>
    </div>
  </mdb-card-footer>
</mdb-card>


<app-upload-file #uploadFileComponent (onDone)="resendMessage($event)"></app-upload-file>
