@import "../group-detail.component";

.chat-1 {
  position: relative;
  overflow-y: scroll;

  word-wrap: break-word;
  max-height: 500px;
  padding: 5px;
}

.message {
  max-width: 80%;
  min-width: 50%;
  float: right !important;
  background-color: beige !important;
}

.other-member-message {
  float: right !important;
  background-color:$customCardBackgroundColor !important;

}

.chat-message {
  padding: 15px;
}
