
<li class="list-group-item d-flex justify-content-between   dropdown border-bottom" mdbDropdown>

    <div class="d-flex flex-column">
      <div class="avatar mx-auto white"><img  height="45px" width="45px"  [src]="'http://localhost:8080/users/'+user.id+'/profile.jpg'| secureImage | async"
                                             alt="avatar mx-auto white" class="rounded-circle">
      </div>

      <div>{{user.username}}</div>
      </div>
  <div class="dropdown-menu dropdown-menu-top z-depth-5">
    <a class="dropdown-item custom-item" href="#">View profile</a>
    <a class="dropdown-item custom-item" href="#">Open chat</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item danger-item" href="#">Remove from group</a>
  </div>
    <div class="d-flex justify-content-between"> <div class="d-flex flex-column">
      <div >  <mdb-badge
        *ngIf="timer.phase==='NOT RUNNING'"
        danger="true" class="pomodoro-tag">Not running
      </mdb-badge>
        <mdb-badge
          *ngIf="timer.phase==='PAUSE'"
          success="true" class="pomodoro-tag">Pause
        </mdb-badge>
        <mdb-badge
          *ngIf="timer.phase==='WORK'"
          warning="true" class="pomodoro-tag">Work
        </mdb-badge></div>

      <div class="mask flex-center waves-effect waves-light rgba-teal-strong">
        <p
          *ngIf="timer.phase==='NOT RUNNING'"
          class="customTimer text-danger"
        >  {{timer.timeLeft}}</p>
        <p
          *ngIf="timer.phase==='PAUSE'"
          class="customTimer text-success"
        >  {{timer.timeLeft}}</p>
        <p
          *ngIf="timer.phase==='WORK'"
          class="customTimer text-warning"
        >  {{timer.timeLeft}}</p>
      </div>
    </div></div>
    <div class="">  <div *ngIf="isOwner" class="user-actions-icon" >
      <div mdbDropdownToggle ><i class="fas fa-ellipsis-v "></i></div>

    </div></div>



</li>
