@import "../../../app.component.scss";
.modal-content{
  background-color: $backgroundColor;

}
.cookies-text{
  color: $secondaryTextColor;
  font-size: 1rem;
}

.modal-body{
  padding: 0.8rem !important;
}
.custom-button{
  font-size: 0.7rem !important;
}
