<div class="container my-5">
  <div class="card shadow custom-card">

    <!-- Card content -->
    <div class="card-body">

  <h1 id="head">{{userServiceProvider.pomodoroService.timer.phase}}</h1>
  <div class="customTimer">
    {{userServiceProvider.pomodoroService.timer.timeLeft}}
  </div>

  <button *ngIf="!userServiceProvider.pomodoroService.timer.started" type="button" class="btn btn-primary btn-rounded  my-button"
          (click)="userServiceProvider.pomodoroService.startPomodoroForCurrentUser()">START</button>
  <button *ngIf="userServiceProvider.pomodoroService.timer.started" type="button" class="btn btn-danger btn-rounded  my-button"
          (click)="userServiceProvider.pomodoroService.resetPomodoroForCurrentUser()">RESET</button>
</div>
  </div>
  <app-pomodoro-is-running></app-pomodoro-is-running>
</div>
