<p class="h1-responsive text-center mb-4 header">Pomodoro</p>

<div class="container pomodoro-container">
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-sm-12 col-md-6 text-center">

      <mdb-badge
        *ngIf="userServiceProvider.pomodoroService.timer.phase==='NOT RUNNING'"
        danger="true" class="pomodoro-tag">Not running
      </mdb-badge>
      <mdb-badge
        *ngIf="userServiceProvider.pomodoroService.timer.phase==='PAUSE'"
        success="true" class="pomodoro-tag">Pause
      </mdb-badge>
      <mdb-badge
        *ngIf="userServiceProvider.pomodoroService.timer.phase==='WORK'"
        warning="true" class="pomodoro-tag">Work
      </mdb-badge>


      <div class="view">
        <img src="../../../assets/pomodoro/pomodoro.svg" class="pomodoro-img">

        <div class="mask flex-center waves-effect waves-light rgba-teal-strong">
          <p
            *ngIf="userServiceProvider.pomodoroService.timer.phase==='NOT RUNNING'"
            class="customTimer text-danger"
          >  {{userServiceProvider.pomodoroService.timer.timeLeft}}</p>
          <p
            *ngIf="userServiceProvider.pomodoroService.timer.phase==='PAUSE'"
            class="customTimer text-success"
          >  {{userServiceProvider.pomodoroService.timer.timeLeft}}</p>
          <p
            *ngIf="userServiceProvider.pomodoroService.timer.phase==='WORK'"
            class="customTimer text-warning"
          >  {{userServiceProvider.pomodoroService.timer.timeLeft}}</p>
        </div>

      </div>
      <button *ngIf="!userServiceProvider.pomodoroService.timer.started" type="button"
              class="btn btn-primary btn-rounded  my-button"
              (click)="userServiceProvider.pomodoroService.startPomodoroForCurrentUser()">START
      </button>
      <button *ngIf="userServiceProvider.pomodoroService.timer.started" type="button"
              class="btn  btn-primary btn-rounded  my-button"
              (click)="userServiceProvider.pomodoroService.resetPomodoroForCurrentUser()">RESET
      </button>
    </div>
    <div class="col-md-3">

    </div>
  </div>
  <div class="row pt-3 mt-5 border-top">
    <div class="col-md-3">

    </div>
    <div class="col-sm-12 col-md-6">
      <mdb-accordion>
        <mdb-accordion-item>
          <mdb-accordion-item-head   [indicator]="false"
                                   [ngClass]="todosVisible?'accordion-header border-bottom mb-2':'accordion-header'"
                                   (click)="todosVisible=!todosVisible">
            <div class="accordion-header-text ">

              <div class="d-flex">
                <div class="flex-grow-1"><h5 class="h5-responsive"> Your personal todos</h5></div>
                <div *ngIf="!todosVisible"><i class="fas fa-angle-up"></i></div>
                <div *ngIf="todosVisible"><i class="fas fa-angle-down"></i></div>
              </div>
            </div>

          </mdb-accordion-item-head>
          <mdb-accordion-item-body>
            <app-user-todo></app-user-todo>
          </mdb-accordion-item-body>
        </mdb-accordion-item>
      </mdb-accordion>

    </div>
    <div class="col-md-3">

    </div>
    <div class="col-5">

    </div>
  </div>

</div>
<app-pomodoro-is-running></app-pomodoro-is-running>
