<p class="h1-responsive text-center mb-4 header">Pomodoro</p>
<div class="container pomodoro-container">
  <mdb-badge
    *ngIf="userServiceProvider.pomodoroService.timer.phase==='NOT RUNNING'"
    danger="true" class="pomodoro-tag">Not running</mdb-badge>
  <mdb-badge
    *ngIf="userServiceProvider.pomodoroService.timer.phase==='PAUSE'"
    success="true" class="pomodoro-tag" >Pause</mdb-badge>
  <mdb-badge
    *ngIf="userServiceProvider.pomodoroService.timer.phase==='WORK'"
    warning="true" class="pomodoro-tag">Work</mdb-badge>
  


    <div class="view">
      <img  src="../../../assets/pomodoro/pomodoro.svg" class="pomodoro-img">

        <div class="mask flex-center waves-effect waves-light rgba-teal-strong">
          <p
            *ngIf="userServiceProvider.pomodoroService.timer.phase==='NOT RUNNING'"
            class="customTimer text-danger"
          >  {{userServiceProvider.pomodoroService.timer.timeLeft}}</p>
          <p
            *ngIf="userServiceProvider.pomodoroService.timer.phase==='PAUSE'"
            class="customTimer text-success"
          >  {{userServiceProvider.pomodoroService.timer.timeLeft}}</p>
          <p
            *ngIf="userServiceProvider.pomodoroService.timer.phase==='WORK'"
            class="customTimer text-warning"
          >  {{userServiceProvider.pomodoroService.timer.timeLeft}}</p>
        </div>

    </div>
    <button *ngIf="!userServiceProvider.pomodoroService.timer.started" type="button" class="btn btn-primary btn-rounded  my-button"
            (click)="userServiceProvider.pomodoroService.startPomodoroForCurrentUser()">START</button>
    <button *ngIf="userServiceProvider.pomodoroService.timer.started" type="button" class="btn  btn-primary btn-rounded  my-button"
            (click)="userServiceProvider.pomodoroService.resetPomodoroForCurrentUser()">RESET</button>

</div>
