<div class="d-flex flex-column my-5">
  <div class="d-flex text-muted small align-self-center mb-2" *ngIf="isPreviousMessageTooOld()">{{getOldMessageTime()}}</div>
  <div class="d-flex my-0 py-0" *ngIf="!message.isCurrentUserAuthor">
    <div class="other-message-margin"></div>

    <div class="text-muted small">{{message.author.username}}</div>
  </div>
  <div
    [ngClass]="message.isCurrentUserAuthor?'d-flex flex-row-reverse message my-0 py-0':'d-flex justify-content-start message my-0 py-0'">
    <div class="other-message-margin" *ngIf="!message.isCurrentUserAuthor"></div>
    <div *ngIf="message.isCurrentUserAuthor" class="my-message-margin"></div>
    <div
      *ngIf="message.attachments!=null && message.attachments.length!==0"
      [ngClass]="message.isCurrentUserAuthor?'align-self-center p-2 position-relative attachment':'align-self-center p-2 position-relative attachment'"
    >

      <div >
        <div *ngFor="let attachment of message.attachments | attachmentFilter:false">
          <img width="20px" [src]="getAttachmentIcon(attachment.format)|cachedImage|async" class="mr-1"><a
          (click)="downloadAttachment(message)">{{attachment.name}}</a>
        </div>
        <div class="row">
          <mdb-image-modal [modalImages]="imagesWithHeading"></mdb-image-modal>
        </div>
      </div>
    </div>
  </div>
  <div
    [ngClass]="message.isCurrentUserAuthor?'d-flex flex-row-reverse message my-0 py-0':'d-flex justify-content-start message my-0 py-0'">
    <div
      *ngIf="!message.isCurrentUserAuthor"
      class="profile-photo message-photo align-self-end my-0 ml-2 mr-2">
      <img
        src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg"
        alt="avatar"
        class="avatar rounded-circle ">
    </div>

    <div *ngIf="message.isCurrentUserAuthor" class="my-message-margin"></div>
    <div
      class="align-self-center p-2 position-relative"
      [class.my-message-text]="message.isCurrentUserAuthor"
      [class.other-member-message-text]="!message.isCurrentUserAuthor"

    >

      {{message.value}}
      <div
        [ngClass]="message.isCurrentUserAuthor?'d-flex justify-content-start position-absolute my-message-reaction-wrapper':'d-flex flex-row-reverse position-absolute d-flex other-message-reaction-wrapper'"
      >
        <div
          placement="top" [mdbPopover]="clickImgTemp" triggers="click" (onShown)="emitScrollingDecision(true)"
          (onHidden)="emitScrollingDecision(false)"
          class="reaction px-2 small text-muted align-self-center" style="white-space: nowrap">+ react</div>
        <ng-template #clickImgTemp
                     class="shadow z-depth-1">
          <div
            class="d-flex flex-row reaction-emojis-container">
            <div
              mdbTooltip="{{message.currentUserReaction!=null && message.currentUserReaction.emoji===emoji?null:emoji}}"
              [ngClass]="message.currentUserReaction!=null && message.currentUserReaction.emoji===emoji?'p-2 reaction-emoji-selected':'p-2 reaction-emoji'"
              (click)="react(emoji)"
              *ngFor="let emoji of emojisEnum">
              <img
                width="18"

                [src]="'../../../../assets/emojis/051-'+emoji.toString()+'.svg'">
              <small
                *ngIf="message.currentUserReaction!=null &&message.currentUserReaction.emoji===emoji"
                class="remove-reaction text-center">
                x
              </small>
            </div>
          </div>
        </ng-template>
        <div

          *ngFor="let emojiGroupedReaction of message.emojisGroupedReactions| keyvalue"
          [mdbTooltip]="reactionTooltipContent"
          triggers="click"
          (onShown)="emitScrollingDecision(true)"
          (onHidden)="emitScrollingDecision(false)"
          class="message-reactions-wrapper"
        >
          <div  *ngIf="emojiGroupedReaction.value.length>0" class="d-flex flex-row">
            <div class="mb-0 px-1 emoji-icon">
              <img
                width="18"

                [src]="'../../../../assets/emojis/051-'+emojiGroupedReaction.key.toString()+'.svg'"></div>
            <div class="small align-self-center reaction-count">{{emojiGroupedReaction.value.length}}</div>

          </div>
          <ng-template #reactionTooltipContent class="mb-2">
            <ul class="list-unstyled ">
              <li *ngFor="let reaction of emojiGroupedReaction.value">
                {{reaction.author.username}}
              </li>
            </ul>
          </ng-template>
        </div>

      </div>
    </div>

  </div>

</div>
