<div class="row">
  <div class="col-lg-9 col-md-9">
<div class="card custom-card shadow my-5">
  <!-- Card content -->
  <div class="card-body">
    <!-- Default input -->
    <label for="name">Name</label>
    <input #name type="text" id="name" class="form-control" placeholder="enter group name">
    <div *ngIf="nameNotFilled"
         class="alert alert-danger"
         role="alert">
     Name must be filled!
    </div>
    <br>
    <div class="pretty p-default">
      <input #isPublic type="checkbox"/>
      <div class="state  p-primary">
        <label>public</label>
      </div>
    </div>
    <br>
    <div *ngIf="noValueChanged"
         class="alert alert-danger"
         role="alert">
      No value was updated !
    </div>
    <br>
    <div *ngIf="inProgress" class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <button *ngIf="!inProgress" class="btn btn-primary" (click)="createGroup(name.value,isPublic.checked)">Create
    </button>
  </div>
</div>
</div>
<div class="col-lg-3 col-md-3 col-xl-3">
 </div>
</div>
