<div class="row">
  <div class="col-sm-12 col-md-12">

    <div style="display: block">
      <canvas mdbChart
              [chartType]="chartType"
              [datasets]="chartDatasets"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">

  </div>
  <div class="col-sm-4">
    <ul class="list-group">
      <li class="list-group-item"><span class="badge badge-default">{{daysSlider.value}} days</span></li>
      <li class="list-group-item"><input #daysSlider type="range" min="1" max="50" class="slider" id="myRange"
                                         value="{{dayToPast}}"
                                         (change)="changeDays(daysSlider.value)"></li>
    </ul>


  </div>
</div>
