<p class="h2 text-center mb-4 header">Your pomodoro statistics</p>
<div class="row">
  <div class="col-sm-10 col-md-10">

    <div style="display: block">
      <canvas mdbChart
              [chartType]="chartType"
              [datasets]="chartDatasets"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="showLegend"
              (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>
  <div class="col-sm-2 col-md-2">
    <label class="mdb-main-label">Graph type:</label>
    <select #chartTypeSelect class="browser-default custom-select" (change)="changeChartType(chartTypeSelect.value)">
      <option value="bar">Bar</option>
      <option value="line">Line</option>
      <option value="polarArea">Polar Area</option>
      <option value="pie">Pie</option>
      <option value="radar">Radar</option>
      <option value="doughnut">Doughnut</option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">

  </div>
  <div class="col-sm-4">
    <label class="mdb-main-label">Show pomodoros for last:</label>
    <select #test class="browser-default custom-select" (change)="changeDays(test.value)">
      <option value="1">Day</option>
      <option value="7">Week</option>
      <option value="31">Month</option>
      <option value="365">Year</option>
    </select>

  </div>

</div>
