<!--Navbar-->
<div class="my-navbar">
<mdb-navbar SideClass="navbar navbar-expand-lg" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Pomapp</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul *ngIf="loginService.currentAccessTokenValue" class="navbar-nav mr-auto">
      <div *ngIf="this.router.url!=='/pomodoro' && pomodoroService.timer!=null && pomodoroService.timer.started">
        <li *ngIf="pomodoroService.timer.phase==='WORK'" class="btn btn-warning">
          {{pomodoroService.timer.phase}} - {{pomodoroService.timer.timeLeft}}
        </li>
        <li *ngIf="pomodoroService.timer.phase==='PAUSE'" class="nav-item btn btn-success">
          {{pomodoroService.timer.phase}} - {{pomodoroService.timer.timeLeft}}
        </li>
        <li *ngIf="pomodoroService.timer.phase==='INTERRUPTED'" class="nav-item btn btn-error">
          {{pomodoroService.timer.phase}} - {{pomodoroService.timer.timeLeft}}
        </li>
      </div>
      <li class="nav-item " [routerLinkActive]="['active']">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/pomodoro']">Pomodoro<span
          class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/group']">Groups
          <small *ngIf="groupService.allUnreadMessages!==0" class="align-right"><span
            class="badge badge-danger ml-2 text-right">{{groupService.allUnreadMessages}}</span></small>
        </a>
      </li>

    </ul>
    <ul *ngIf="!loginService.currentAccessTokenValue" class="navbar-nav mr-auto">

      <li class="nav-item " [routerLinkActive]="['active']">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/home']">Home<span
          class="sr-only">(current)</span></a>
      </li>
      <div *ngIf="this.router.url!=='/free-trial' && freeTrialService.timer!=null && freeTrialService.timer.started">
        <li *ngIf="freeTrialService.timer.phase==='WORK'" class="nav-item btn btn-warning">
          {{freeTrialService.timer.phase}} - {{freeTrialService.timer.timeLeft}}
        </li>
        <li *ngIf="freeTrialService.timer.phase==='PAUSE'" class="nav-item btn btn-success">
          {{freeTrialService.timer.phase}} - {{freeTrialService.timer.timeLeft}}
        </li>
        <li *ngIf="freeTrialService.timer.phase==='INTERRUPTED'" class="nav-item btn btn-error">
          {{freeTrialService.timer.phase}} - {{freeTrialService.timer.timeLeft}}
        </li>
      </div>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/free-trial']">Free trial</a>
      </li>

    </ul>
    <!-- Links -->
    <ul *ngIf="loginService.currentAccessTokenValue" class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon>
          Invitations
          <small *ngIf="groupService.numberOfNotAcceptedGroupInvitations!==0" class="align-right"><span
            class="badge badge-danger ml-2 text-right">{{groupService.numberOfNotAcceptedGroupInvitations}}</span>
          </small>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/my-account']">
          <mdb-icon fas icon="user"></mdb-icon>
          My account</a>

      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link waves-light" mdbWavesEffect (click)="callParent()">
          <mdb-icon fas icon="sign-out-alt"></mdb-icon>
          Log out</a>

      </li>
    </ul>
    <!-- Links -->
    <ul *ngIf="!loginService.currentAccessTokenValue" class="navbar-nav ml-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/login']">
          <mdb-icon fas icon="sign-in-alt"></mdb-icon>
          Login</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/register']">
          <mdb-icon fas icon="sign-in-alt"></mdb-icon>
          Sign up</a>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>


</div>
