<p class="h2 text-center mb-4 header">Pomodoro settings</p>
<div class="container my-5">
<div class="card shadow custom-card">

  <!-- Card content -->
  <div class="card-body">
    <br>
    <label for="workTime">Work time in minutes</label>
    <div class="list-group list-group-horizontal">
      <li  class="list-group-item border-0"><select #workTimeSelect class="browser-default custom-select" select id="workTime">
        <option *ngFor="let number of [5,10,15,20,25,30,35,40,45,50,55,60]" [selected]="number==currentSettings.workTime/60"  value="{{number}}" >{{number}}</option>
      </select></li>
    </div>
    <br>
    <label for="pauseTime">Pause time in minutes</label>
    <div class="list-group list-group-horizontal">
      <li class="list-group-item border-0"><select #pauseTimeSelect class="browser-default custom-select" id="pauseTime">
        <option *ngFor="let number of [5,10,15,20,25,30,35,40,45,50,55,60]"  [selected]="number==currentSettings.pauseTime/60" value="{{number}}" >{{number}}</option>
      </select></li>
    </div>
    <br>
    <label for="phaseChangeSound">Sound on phase changed </label><audio #phaseChangeSoundAudio src="../../../assets/sounds/{{phaseChangeSoundSelect.value}}" type="audio/ogg" ></audio>
    <div class="list-group list-group-horizontal">
      <li class="list-group-item border-0"><select #phaseChangeSoundSelect class="browser-default custom-select" id="phaseChangeSound">
        <option  *ngFor="let sound of sounds" [selected]="sound==currentSettings.phaseChangedSound" value="{{sound}}">{{sound}}</option>

      </select></li>
      <li class="list-group-item border-0"> <button *ngIf='!phaseChangedSoundPlaying' type="button" class="btn btn-primary btn-sm" (click)="phaseChangeSoundAudio.play();phaseChangedSoundPlaying=true;" ><i class="fas fa-play"></i></button>
        <button *ngIf='phaseChangedSoundPlaying' type="button" class="btn btn-primary btn-sm" (click)="phaseChangeSoundAudio.pause();phaseChangedSoundPlaying=false;" ><i class="fas fa-stop"></i></button>
      </li>

    </div>
    <br>
    <label for="pauseSound">Sound playing during pause </label><audio #pauseSoundAudio src="../../../assets/sounds/{{pauseSoundAudioSelect.value}}" type="audio/ogg" ></audio>
    <div class="list-group list-group-horizontal">
      <li class="list-group-item border-0"><select #pauseSoundAudioSelect class="browser-default custom-select" id="pauseSound">
        <option  *ngFor="let sound of sounds" [selected]="sound==currentSettings.pauseSound" value="{{sound}}">{{sound}}</option>

      </select></li>
      <li class="list-group-item border-0"> <button *ngIf='!pauseSoundPlaying' type="button" class="btn btn-primary btn-sm" (click)="pauseSoundAudio.play();pauseSoundPlaying=true;" ><i class="fas fa-play"></i></button>
        <button *ngIf='pauseSoundPlaying' type="button" class="btn btn-primary btn-sm" (click)="pauseSoundAudio.pause();pauseSoundPlaying=false;" ><i class="fas fa-stop"></i></button>
      </li>
    </div>
    <br>
    <label for="workSound">Sound playing during work </label><audio #workSoundAudio src="../../../assets/sounds/{{workSoundAudioSelect.value}}" type="audio/ogg" ></audio>
    <div class="list-group list-group-horizontal">
      <li class="list-group-item border-0"><select  #workSoundAudioSelect class="browser-default custom-select" id="workSound">
        <option  *ngFor="let sound of sounds" [selected]="sound==currentSettings.workSound" value="{{sound}}">{{sound}}</option>

      </select></li>
      <li class="list-group-item border-0"> <button *ngIf='!workSoundPlaying' type="button" class="btn btn-primary btn-sm" (click)="workSoundAudio.play();workSoundPlaying=true;" ><i class="fas fa-play"></i></button>
        <button *ngIf='workSoundPlaying' type="button" class="btn btn-primary btn-sm" (click)="workSoundAudio.pause();workSoundPlaying=false;" ><i class="fas fa-stop"></i></button>
      </li> </div>
    <br>
    <div *ngIf="inProgress" class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div *ngIf="success" class="alert alert-success" role="alert">
   Settings updated
    </div>
    <div *ngIf="noValueWasChanged"
         class="alert alert-danger"
         role="alert">
     No value was changed !
    </div>
    <button *ngIf="!inProgress" class="btn btn-primary" (click)="updateSettings(pauseTimeSelect.value,workTimeSelect.value,phaseChangeSoundSelect.value,workSoundAudioSelect.value,pauseSoundAudioSelect.value)">Save settings</button>
  </div>
</div>
</div>
