<div class="card custom-card shadow">


  <!-- Card content -->
  <div class="card-body">
    <!-- Default input -->
    <label for="oldPassword">Old password</label>
    <input #oldPassword type="password" id="oldPassword" class="form-control" placeholder="enter your old password"
    >
    <div *ngIf="incorrectPassword"
         class="alert alert-danger"
         role="alert">
      Incorrect password !
    </div>
    <br>
    <!-- Default input -->
    <label for="newPassword">New password</label>
    <input #newPassword type="password" id="newPassword" class="form-control" placeholder="enter your new password"
    >
    <div *ngIf="passwordsDoesNotMatch"
         class="alert alert-danger"
         role="alert">
      Passwords does not match!
    </div>
    <br>
    <!-- Default input -->
    <label for="confirmNewPassword">Confirm new password</label>
    <input #confirmNewPassword type="password" id="confirmNewPassword" class="form-control"
           placeholder="confirm your new password"
    >
    <div *ngIf="passwordsDoesNotMatch"
         class="alert alert-danger"
         role="alert">
      Passwords does not match!
    </div>
    <br>
    <div *ngIf="noValueWasChanged"
         class="alert alert-danger"
         role="alert">
      Old password and new password are the same !
    </div>
    <br>
    <div *ngIf="inProgress" class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div *ngIf="success" class="alert alert-success" role="alert">
      Password was successfully changed!
    </div>
    <button *ngIf="!inProgress" class="btn btn-primary"
            (click)="changePassword(oldPassword.value,newPassword.value,confirmNewPassword.value)">Change password
    </button>

  </div>
</div>
