<p class="h2 text-center mb-4 header">Change your password</p>
<!-- Default form register -->
<div class="custom-card shadow my-5">
  <form class="text-center border border-light p-5"
        [formGroup]="elegantForm"
        (ngSubmit)="changePassword(elegantFormOldPassword.value,elegantFormNewPassword.value,elegantFormNewPasswordConfirm.value)"
  >
    <div class="form-row mb-4">
      <input type="password"
             formControlName="elegantFormOldPassword"
             [className]="((elegantFormOldPassword.touched||submitted)&&elegantFormOldPassword.hasError('required'))||oldPasswordError!=null? 'form-control is-invalid':'form-control'"
             placeholder="Old password"
      >
      <div class="invalid-feedback">
        <p *ngIf="oldPasswordError!=null;else defaultOldPasswordError">
          {{oldPasswordError}}
        </p>
        <ng-template #defaultOldPasswordError>
          Old password must be filled
        </ng-template>
      </div>
    </div>
    <div class="form-row mb-4">
      <input type="password"
             formControlName="elegantFormNewPassword"
             [className]="((elegantFormNewPassword.touched||submitted)&&(elegantFormNewPassword.hasError('required')||(elegantFormOldPassword.value===elegantFormNewPassword.value))||newPasswordError!=null)? 'form-control is-invalid':'form-control'"
             placeholder="New password"
      >
      <div class="invalid-feedback">
        <p *ngIf="newPasswordError!=null">
          {{newPasswordError}}
        </p>
        <ng-template *ngIf="newPasswordError==null&&elegantFormOldPassword.value!==elegantFormNewPassword.value;else extendedNewPasswordError" #defaultNewPasswordError>
         New password must be filled
        </ng-template>
        <ng-template #extendedNewPasswordError>
          Old password and new password are same
        </ng-template>
      </div>
    </div>
    <div class="form-row mb-4">
      <input type="password"
             formControlName="elegantFormNewPasswordConfirm"
             [className]="(submitted||elegantFormNewPasswordConfirm.touched)&&(elegantFormNewPasswordConfirm.value!==elegantFormNewPassword.value)||newPasswordConfirmError!=null? 'form-control is-invalid':'form-control'"
             placeholder="Confirm new password"
      >
      <div class="invalid-feedback">
        <p *ngIf="newPasswordConfirmError!=null;else defaultNewPasswordConfirmError">
          {{newPasswordConfirmError}}
        </p>
        <ng-template #defaultNewPasswordConfirmError>
          Passwords must match
        </ng-template>

      </div>
    </div>
    <div *ngIf="success!=null" class="alert alert-success" role="alert">
      {{success}}
    </div>
    <div class="text-center mb-3">
      <div *ngIf="inProgress" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <button *ngIf="!inProgress"  type="submit" mdbBtn  block="true" rounded="true"

              class="z-depth-1a custom-button"
              mdbWavesEffect>Change password
      </button>
    </div>
  </form>
  <!-- Default form register -->

</div>
