@import "../group-detail.component";

.my-card {
  opacity: 0.9;
}

.my-card:hover {
  opacity: 1;
  cursor: pointer;
}

.chat-footer {
  min-width: 35%;
}

.pomodoro-tag {
  display: block;

}

.member-card-header {
  background-color: $navigationBarColor;
  color: $basicTextColor;
}
.customTimer{
  font-size: 1.3em;
}
