<p class="h2 text-center mb-4 header">Personal information</p>
<div class="custom-card shadow my-5">
  <form class="text-center border border-light p-5"
        [formGroup]="elegantForm"
        (ngSubmit)="updateUser(firstName.value,secondName.value,elegantFormUsername.value,elegantFormEmail.value)"
  >
    <div class="form-row mb-4">
      <input type="text" #firstName class="form-control" placeholder="First name"
             value="{{user.firstName}}"
      >

    </div>
    <div class="form-row mb-4">
      <input type="text" #secondName class="form-control" placeholder="Last name"
             value="{{user.lastName}}"
      >
    </div>
    <div class="form-row mb-4">
      <input type="text"
             formControlName="elegantFormUsername"
             [className]="((submitted||elegantFormUsername.touched)&&elegantFormUsername.hasError('required'))||nameError!=null? 'form-control is-invalid':'form-control'"

             placeholder="Username"/>
      <div class="invalid-feedback">
        <p *ngIf="nameError!=null;else defaultUsernameError">
          {{nameError}}
        </p>
        <ng-template #defaultUsernameError>
          Username must be filled
        </ng-template>
      </div>
    </div>
    <div class="form-row mb-4">
      <input type="email"
             formControlName="elegantFormEmail"
             [className]="((elegantFormEmail.touched||submitted)&&(elegantFormEmail.hasError('required')||elegantFormEmail.hasError('pattern')))||emailError!=null? 'form-control is-invalid':'form-control'"

             placeholder="E-mail">
      <div class="invalid-feedback">
        <p *ngIf="emailError!=null;else defaultEmailError">
          {{emailError}}
        </p>
        <ng-template #defaultEmailError>
          <p *ngIf="elegantFormEmail.hasError('required')">
            Email must be filled</p>
          <p *ngIf="elegantFormEmail.hasError('pattern')">
            Invalid email format</p>
        </ng-template>
      </div>
    </div>
    <div
      *ngIf="submitted&&firstName.value === this.user.firstName && secondName.value === this.user.lastName && elegantFormUsername.value === this.user.username && elegantFormEmail.value === this.user.email"
      class="alert alert-danger"
      role="alert">
      No value was changed !
    </div>
    <div *ngIf="success!=null" class="alert alert-success" role="alert">
      {{success}}
    </div>
    <div class="text-center mb-3">
      <div *ngIf="inProgress" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <button *ngIf="!inProgress" type="submit" mdbBtn gradient="blue" block="true" rounded="true"

              class="z-depth-1a waves-light custom-button"
              mdbWavesEffect>Update
      </button>
    </div>
  </form>
  <!-- Default form register -->

</div>
<app-success #successComponent (successComponent)="successComponent"></app-success>


