
<div class="container border my-5 customContainer">
  <h1 class="h1 text-lg-center my-5">Welcome to Pomapp</h1>
<div class="row rounded">
  <div class="col-sm-12 col-md-12 col-lg-8 ">
    <blockquote class="blockquote bq-primary customBlockquote">
      <h1 class="h2">What is Pomoapp ?</h1>
      <p class="lead">
        Pomapp is web application based on time management method developed by Francesco Cirillo in the late 1980s. The technique uses a timer to break down work into intervals, traditionally 25 minutes in length, separated by short breaks. Each interval is known as a pomodoro, from the Italian word for 'tomato', after the tomato-shaped kitchen timer that Cirillo used as a university student.
      </p>
    </blockquote>
    <a type="button" mdbBtn [routerLink]="['/free-trial']" type="button" class="btn btn-success btn-rounded">Free trial
    </a>
  </div>
    <div class="col-sm-0 col-md-0 col-lg-4 sideImage">
    <img src="../../../assets/images/blur-business-coffee-commerce-273222.jpg" class="rounded-circle img-fluid  ">
  </div>

</div>
  <div class="row rounded customRow">

    <div class="col-sm-12 col-md-12 col-lg-8 ">
      <blockquote class="blockquote bq-primary customBlockquote">
        <h1 class="h2">Want more functionality?</h1>
        <p class="lead">
          Do you want to be able to <span class="font-weight-bold">manage phase duration, set custom music or sounds </span>? Do you want to <span class="font-weight-bold"> monitor your pomodoros over time or create groups with your friends and use Pomapp together </span>?

       </p>
      </blockquote>
      <ul class="list-inline customList">
        <li class="list-inline-item">Then</li>
        <li class="list-inline-item">
          <a type="button" mdbBtn [routerLink]="['/register']" type="button" class="btn btn-success btn-rounded">Sign up
          </a>
        </li>
        <li class="list-inline-item">or</li>
        <li class="list-inline-item">
          <a type="button" mdbBtn [routerLink]="['/login']" type="button" class="btn btn-success btn-rounded">Login
          </a></li>
      </ul>
    </div>
    <div class="col-sm-0 col-md-0 col-lg-4 sideImage">
      <img src="../../../assets/images/clear-glass-with-red-sand-grainer-39396.jpg" class="rounded-circle img-fluid  ">
    </div>

  </div>

</div>


