@import "../../../app.component";
@import '~pretty-checkbox/src/pretty-checkbox.scss';

.container{
  padding: 20px;
}
.profile-photo{

max-width: 75px;
  max-height: 75px;
}
.my-card{
  opacity: 0.9;
}
.my-card:hover{
  opacity: 1;
  cursor: pointer;
}
