<h1 class="h1-responsive text-center my-3"><strong>{{this.groupName}}</strong></h1>
<div class="container-fluid pt-5 pb-5 pl-2 pr-2">

  <div class="container-fluid  ">

    <div class="row">
      <div class="col-sm-12 col-md-10">
        <h3 class="h3-responsive text-center mb-4"><strong>Members</strong></h3>
        <h4 class="h4-responsive"><strong>Filter</strong></h4>
        <div class="pretty p-default">
          <input #selectWork type="checkbox" checked="true" id='WORK' (change)="select(selectWork)"/>
          <div class="state  p-primary">
            <label>Work</label>
          </div>
        </div>
        <div class="pretty p-default">
          <input #selectPause type="checkbox" checked="true" id='PAUSE' (change)="select(selectPause)"/>
          <div class="state  p-primary">
            <label>Pause</label>
          </div>
        </div>
        <div class="pretty p-default">
          <input #selectNotRunning type="checkbox" checked="true" id='NOT RUNNING' (change)="select(selectNotRunning)"/>
          <div class="state p-primary">
            <label>Not running</label>
          </div>
        </div>
        <br>
        <div *ngIf="isOwner" class="input-group md-form form-sm form-1 pl-0">
          <div class="input-group-prepend">
        <span class="input-group-text primary-color-dark lighten-3" id="basic-text1"><i class="fas fa-search text-white"
                                                                                        aria-hidden="true"></i></span>
          </div>
          <input id="searchBox" #searchBox class="form-control my-0 py-1" type="text" placeholder="find user ..."
                 aria-label="Search" (keyup)="searchUsers(searchBox.value)"
                 value=""

          >
          <button gradient="blue" block="true" rounded="true"
                  (click)="inviteUser(searchBox.value.trim())"
                  class="btn btn-primary"
          >Invite user
          </button>
        </div>

        <div class="col-xl-6">
          <div *ngIf="success!=null" class="alert alert-success" role="alert">
            {{success}}
          </div>
          <div *ngIf="userError!=null" class="alert alert-danger" role="alert">
            {{userError}}
          </div>
          <div *ngIf="groupError!=null" class="alert alert-danger" role="alert">
            {{groupError}}
          </div>
        </div>
        <ul *ngFor="let data of dataset">
          <li>{{data}}</li>
        </ul>
        <div class="pb-0 mt-3">
          <div class="row">
            <div class="col-sm-4 col-md-3" *ngFor="let row of filteredRows|keyvalue">
              <mdb-card class="mb-3">
                <mdb-card-header class="member-card-header">
         <div class="h5-responsive text-center ">
                  {{row.key.username}}
         </div>

                </mdb-card-header>
                <mdb-card-body>
                  <mdb-badge
                    *ngIf="row.value.phase==='NOT RUNNING'"
                    danger="true" class="pomodoro-tag">Not running
                  </mdb-badge>
                  <mdb-badge
                    *ngIf="row.value.phase==='PAUSE'"
                    success="true" class="pomodoro-tag">Pause
                  </mdb-badge>
                  <mdb-badge
                    *ngIf="row.value.phase==='WORK'"
                    warning="true" class="pomodoro-tag">Work
                  </mdb-badge>
                <div class="view">
                  <img src="../../../assets/pomodoro/pomodoro.svg" class="pomodoro-img">

                  <div class="mask flex-center waves-effect waves-light rgba-teal-strong">
                    <p
                      *ngIf="row.value.phase==='NOT RUNNING'"
                      class="customTimer text-danger"
                    >  {{row.value.timeLeft}}</p>
                    <p
                      *ngIf="row.value.phase==='PAUSE'"
                      class="customTimer text-success"
                    >  {{row.value.timeLeft}}</p>
                    <p
                      *ngIf="row.value.phase==='WORK'"
                      class="customTimer text-warning"
                    >  {{row.value.timeLeft}}</p>
                  </div>

                </div>
                </mdb-card-body>
              </mdb-card>


            </div>


          </div>
        </div>

      </div>

      <div class="col-2 col-lg-2">
        <app-chat [users]="this.allUsers" [group]="this.groupName"></app-chat>
      </div>
    </div>

  </div>

</div>
