@import "../../../app.component";
@import '~pretty-checkbox/src/pretty-checkbox.scss';

.container {
  padding: 20px;
}

.group-menu-item {

  border-bottom: 1px solid transparent;
  color: $secondaryTextColor;
  opacity: 0.8;

}

.group-menu-item:hover {
  border-color: $lightBorderColor;

  cursor: pointer;
  opacity: 1;
}

.accordion-body  {
  background-color: white !important;
  min-height: 0px !important;

}
.accordion-header{
  background-color: $navigationBarColor !important;

}
.accordion-body{
  max-height: 700px !important;
  overflow-y: auto;

}
.accordion-header-text{
  color: $basicTextColor !important;
}
.group-section{
  margin-bottom: 1rem;
}
@media (min-width: 1100px) {
  .group-wrapper{
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
}
@media (max-width: 1100px) {
  .group-wrapper{
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
}
