<div class="container-fluid">
  <div   class="container filter-container border">
    <h4>Filter</h4>
    <div class="pretty p-default">
      <input #selectWork type="checkbox" checked="true" id='WORK' (change)="select(selectWork)"/>
      <div class="state  p-primary">
        <label>Work</label>
      </div>
    </div>
    <div class="pretty p-default">
      <input #selectPause type="checkbox" checked="true" id='PAUSE' (change)="select(selectPause)"/>
      <div class="state  p-primary">
        <label>Pause</label>
      </div>
    </div>
    <div class="pretty p-default">
      <input #selectNotRunning type="checkbox" checked="true"  id='NOT RUNNING' (change)="select(selectNotRunning)"/>
      <div class="state  p-primary">
        <label>Not running</label>
      </div>
    </div>
  </div>
<div  *ngFor="let row of filteredRows"  class="row my-3">

  <div *ngFor=" let pomodoro of row |keyvalue" class="col-lg-4 col-md-12">
  <!--Card Primary-->
  <div class="card text-center z-depth-2">
    <div class= "cardBackground card-header">

      <h5 class="text-uppercase font-weight-bold text-white "><strong>  {{pomodoro.key.username}}</strong></h5>

    </div>
    <div class="card-body" [ngClass]="pomodoro.value.phase==='NOT RUNNING'? 'btn-danger':pomodoro.value.phase==='WORK' ?'btn-warning' :'btn-success'">
      <h3 class="text-uppercase font-weight-bold text-white mt-2 mb-3"><strong>  {{pomodoro.value.timeLeft}}</strong></h3>

      <h5 class="text-uppercase font-weight-bold text-white mt-2 mb-3"><strong>   {{pomodoro.value.phase}}</strong></h5>


    </div>
  </div>
  </div>
</div>
</div>
