<div *ngIf="currentUser"
     [class.flex-column]="true"
     [class.chat-wrapper-closed]="!chatsShown"
     [class.chat-wrapper-open]="chatsShown"
>
  <div class="d-flex flex-column">
    <div class="d-flex align-self-end my-0">
      <div class="sticky-button py-1 my-0 text-center mx-1 shadow rounded" (click)="chatsShown=!chatsShown">
        <mdb-icon *ngIf="!chatsShown" fas icon="angle-up"></mdb-icon>
        <mdb-icon *ngIf="chatsShown" fas icon="angle-down"></mdb-icon>
        <span class="ml-1" *ngIf="!chatsShown">Show</span><span class="ml-1" *ngIf="chatsShown">Hide</span> chats
        <small class="align-right ml-2">
          <mdb-icon far icon="comments" class="pr-1 animated wobble"></mdb-icon>
          <span
            class="badge badge-danger text-right animated wobble">5</span>
        </small>
      </div>
    </div>
    <div class="d-flex flex-row-reverse chat-list p-0 ml-1">
      <div class="d-flex mx-1" *ngFor="let chat of chats">
        <app-chat
          [chatName]="chat.name"
          [messages]="chat.messages"
          [user]="currentUser"
          [closeable]="chat.closeable"
          [typingUsers]="chat.typingUsers"
          (onLoadOlder)="chat.loadOlder()"
          (onSendMessage)="chat.sendMessage($event)"
          (onEditMessage)="chat.editMessage($event)"
          (onAnswerMessage)="chat.answerMessage($event)"
          (isUserTyping)="chat.reportIfCurrentUserIsTyping($event)"

        ></app-chat>
      </div>
    </div>
  </div>
</div>

