<h4 class="h4-responsive"><strong>Filter</strong></h4>
<div class="pretty p-default">
  <input #selectWork type="checkbox" checked="true" id='WORK' (change)="select(selectWork)"/>
  <div class="state  p-primary">
    <label>Work</label>
  </div>
</div>
<div class="pretty p-default">
  <input #selectPause type="checkbox" checked="true" id='PAUSE' (change)="select(selectPause)"/>
  <div class="state  p-primary">
    <label>Pause</label>
  </div>
</div>
<div class="pretty p-default">
  <input #selectNotRunning type="checkbox" checked="true" id='NOT RUNNING' (change)="select(selectNotRunning)"/>
  <div class="state p-primary">
    <label>Not running</label>
  </div>
</div>
<br>
<div class="pb-0 mt-3">
  <div class="row" *ngIf="loading">
    <div class="d-flex flex-column m-auto">
      <div class="p-2 m-auto">
        <div class="spinner-grow text-dark" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="p-2 m-auto">Loading members</div>
    </div>

  </div>
  <div *ngIf="allUsers.length==0" class="p-2 m-auto text-center">
    No members
  </div>
  <ul  class="list-group list-group-flush" *ngIf="!loading">
    <div *ngFor="let row of filteredRows|keyvalue" >
      <app-user-card [user]="row.key" [timer]="row.value" [isOwner]="isOwner"></app-user-card>
    </div>

  </ul>
</div>
