<h4 class="h5-responsive"><strong>Filter</strong></h4>
<mdb-checkbox #selectWork [filledIn]="true"  [checked]="true" (change)="select('WORK',selectWork)" [inline]="true">Work</mdb-checkbox>

<mdb-checkbox  #selectPause [filledIn]="true"  checked="true"  (change)="select('PAUSE',selectPause)" [inline]="true">Pause</mdb-checkbox>

<mdb-checkbox #selectNotRunning [filledIn]="true" checked="true"  (change)="select('NOT RUNNING',selectNotRunning)" [inline]="true">Not running</mdb-checkbox>

<br>
<div class="pb-0 mt-3">
  <div class="row" *ngIf="loading">
    <div class="d-flex flex-column m-auto">
      <div class="p-2 m-auto">
        <div class="spinner-grow text-dark" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="p-2 m-auto">Loading members</div>
    </div>

  </div>
  <div *ngIf="allUsers.length==0" class="p-2 m-auto text-center">
    No members
  </div>
  <ul  class="list-group list-group-flush" *ngIf="!loading">
    <div *ngFor="let row of filteredRows|keyvalue" >
      <app-user-card [user]="row.key" [timer]="row.value" [isOwner]="isOwner"></app-user-card>
    </div>

  </ul>
</div>
