$backgroundColor:rgb(63, 114, 155);
$customCardBackgroundColor: 	rgb(248,248,248,0.3);


.mainContent{
min-height:80vh !important;
}

.custom-card{
  border-color: rgb(20,20,20,0.2);
  background-color:$customCardBackgroundColor;
  max-width: 500px;
  margin: auto;
}

.btn-primary{
  background-color: $backgroundColor ;
}


.round-social-icon{
  padding: 10px;
  font-size: 30px;
  opacity: 0.9;
}
.round-social-icon:hover{
  opacity: 1;
  text-shadow:  1px 4px 5px rgba(0, 0, 0, 0.3);
}
.facebook-icon{
  color: #4267B2 !important;
}
.github-icon{
  color: #333333 !important;
}
