$navigationBarColor: #2E314C;
$navigationBarColorTransparent: #818393;
$navigationBarColorLight: #42455d;
$customCardBackgroundColor: #f7f7f7;
$basicTextColor: #DCBA89;
$secondaryTextColor: #333333;
$backgroundColor: #F8F8F8;
$lightBorderColor: #dee2e6;
$myDanger: #d9534f;
$mySuccess: #5cb85c;
.mainContent {
  min-height: 100vh !important;
  background-color: $backgroundColor !important;

}

.custom-card {
  border-color: rgb(20, 20, 20, 0.2);
  background-color: white;
  color: $secondaryTextColor;
  max-width: 500px;
  margin: auto;
}

.btn-primary {
  background-color: $navigationBarColor !important;
}

.round-social-icon {
  padding: 10px;
  font-size: 30px;
  opacity: 0.9;
}

.round-social-icon:hover {
  opacity: 1;
  text-shadow: 1px 4px 5px rgba(0, 0, 0, 0.3);
}
.round-social-icon-disabled{
  opacity: 0.4 !important;
}
.facebook-icon {
  color: #4267B2 !important;
}

.github-icon {
  color: #333333 !important;
}

.custom-button, .pagination .active .page-link {
  opacity: 0.9;
  background-color: $navigationBarColor !important;
  color: $basicTextColor !important;
}

.btn:disabled {
  opacity: 0.5 !important;
}

.custom-button:hover, .pagination .page-item:hover .page-link {
  opacity: 1;
  background-color: $navigationBarColor !important;
  color: $basicTextColor !important;
}

.custom-link {
  color: $navigationBarColor;
  font-weight: bold;
  text-decoration: underline;
  opacity: 0.9;
}

.custom-link:hover {

  opacity: 1;
}

.form-control:focus {
  border-color: $navigationBarColorTransparent;
  box-shadow: 0 0 0 0.2rem $navigationBarColorTransparent;
}

::ng-deep .md-form input:focus:not([readonly]) {
  border-bottom: 1px solid $navigationBarColor !important;
  box-shadow: 0 1px 0 0 $navigationBarColor;

}

.md-form .form-control.is-invalid {
  border-color: #f44336;
  box-shadow: 0 1px 0 0 #f44336;
}


.section {
  min-height: 70vh !important;
}

.mdb-scrollspy-ex a {

  font-weight: 400;
  line-height: 1.1rem;
  padding: 0 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  color: black;
  text-decoration: none !important;
}

.mdb-scrollspy-ex-example {
  height: 200px;
}

.mdb-scrollspy-ex .active {
  font-weight: bold !important;
  border-right: 1px solid $secondaryTextColor !important;

}

.floating-part {
  padding: 0 !important;
}

.card-btn {
  background-color: $navigationBarColor;
  color: $basicTextColor !important;
  text-decoration: none !important;
}

.card-btn:hover {
  color: $basicTextColor !important;
}

@media (min-width: 1189px) {
  .collapsed-part {
    overflow: visible !important;
    position: sticky;
    top: 0;
  }
  .ham-but {
    display: none;
  }


}

@media (max-width: 1195px) {
  .collapsed-part {

    width: 100%;
    border-radius: 5px;
    background-color: $navigationBarColor;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.2);
    top: 0;
    position: absolute;

  }
  .active {
    border: 0 solid transparent !important;

  }
  .ham-but {
    float: right;
    color: $basicTextColor !important;
    opacity: 0.9;
    z-index: 4;
  }
  .ham-but:hover {
    opacity: 1;
  }
  .collapsed-part * {
    color: $basicTextColor !important;
    overflow: no-content;
  }
  .floating-part {
    position: sticky !important;
    top: 0;

    border-right: 0px solid transparent !important;
    z-index: 3;
  }
  .mdb-scrollspy-ex .nav-item {
    border-bottom: 1px solid $basicTextColor;

  }
}

.pomodoro-img {
  opacity: 0.8;
}

.rgba-teal-strong {
  background-color: transparent;

}


::ng-deep .form-check .form-check-label::after {
  background-color: $navigationBarColor !important;
  border: $navigationBarColor !important;
}

::ng-deep mdb-select-dropdown .dropdown-content li > span, ::ng-deep mdb-select > label, ::ng-deep .md-form label.active {
  color: $navigationBarColor !important;
}

::ng-deep .picker__box .picker__table .picker__day--selected {
  color: $basicTextColor !important;
  background-color: $navigationBarColor !important;
}

::ng-deep .picker__box .picker__table .picker__weekday {
  color: $navigationBarColor !important;
  font-weight: bold !important;
}

::ng-deep .picker__box .picker__footer button {
  opacity: 0.8 !important;
  background-color: $navigationBarColor !important;
  color: $basicTextColor !important;
}

::ng-deep .picker__box .picker__footer button:hover {
  opacity: 1 !important;
}

::ng-deep .picker__box .picker__table td.picker__day div.picker__day.picker__day--today {
  color: $basicTextColor !important;
}

.custom-primary-button {
  background-color: $lightBorderColor !important;
  color: $navigationBarColor !important;
  font-weight: bold;
}

.accordion-body {
  background-color: white !important;
  min-height: 0px !important;

}

.accordion-header {
  background-color: $navigationBarColor !important;

}

.accordion-body {
  max-height: 700px !important;
  overflow-y: auto;

}

.accordion-header-text {
  color: $basicTextColor !important;
}

.customBlockquote {
  border-left: 3px solid $navigationBarColor !important
}

.customBlockquote .h2 {
  color: $navigationBarColor !important;
}

::ng-deep .ngx-pagination .current {
  background-color: $navigationBarColor !important;
  color: $basicTextColor !important;
}

::ng-deep .ngx-pagination .disabled {

  color: $lightBorderColor !important;
}
.custom-danger-button{
  background-color: $myDanger !important;
}
