<app-create-edit-todo #createOrUpdateToDo [user]="user" [title]="'Update'" [users]="this.users"
                      [group]="group"></app-create-edit-todo>

<!-- Material inline 1 -->
<div class="container pb-3 border-bottom">

  <mdb-checkbox [filledIn]="true" [inline]="true">Only my tasks</mdb-checkbox>

</div>

<div class="container mt-3 mb-3 border-bottom">
  <h4 class="h5-responsive"><strong>Tasks </strong>
    <mdb-checkbox #checkbox [checked]="false"
                  (change)="selectAll(checkbox)" [filledIn]="true" [inline]="true">select all
    </mdb-checkbox>
  </h4>

  <div class="row tasks">
    <div class="col-12 tree-view">

      <ng-template #recursiveListTmpl let-list>
        <li *ngFor="let item of list" class="d-flex flex-nowrap" @items>
          <mdb-accordion  [multiple]="false">
            <mdb-accordion-item [collapsed]="!item.visible"
                                class="accordion-item"
            >

              <mdb-accordion-item-head [indicator]="false"
                                       [isDisabled]="createOrUpdateToDo.shown"
                                       (click)="showOrHideToDo(item,createOrUpdateToDo.shown)"

              >

                <div class="d-flex flex-row flex-nowrap"

                >

                  <div class="pr-3 text-center">
                    <mdb-icon
                      *ngIf="!item.visible" fas icon="angle-right" class="indicator"></mdb-icon>
                    <mdb-icon
                      *ngIf="item.visible" fas icon="angle-down" class="indicator"></mdb-icon>
                  </div>
                  <div class="pl-1 pr-1 text-center">
                    <mdb-checkbox class="custom-checkbox" #checkbox [checked]="item.selected"
                                  (change)="select(item)" [filledIn]="true" [inline]="true"></mdb-checkbox>
                  </div>
                  <div class="pr-3 text-center task-text flex-nowrap"> {{ item.description }}

                  </div>

                </div>


              </mdb-accordion-item-head>
              <mdb-accordion-item-body >
                <div class= "ml-5 mb-2 d-flex justify-content-start small text-muted edit-task-button" (click)="createOrUpdateToDo.show('Update todo',item);">
                  <mdb-icon fas icon="pen"></mdb-icon>
                  Edit
                </div>
                <div class="d-flex flex-column border-bottom">
                <div class="d-flex flex-row ml-5 mb-2">
                  <div class="text-muted mr-2">Status:</div>
                  <div ngSwitch="{{item.status.toUpperCase()}}">
                    <mdb-badge info="true" *ngSwitchCase="'IN PROGRESS'">{{item.status}}</mdb-badge>
                    <mdb-badge warning="true"  *ngSwitchCase="'NOT STARTED'">{{item.status}}</mdb-badge>
                    <mdb-badge success="true" *ngSwitchCase="'DONE'">{{item.status}}</mdb-badge>
                    <mdb-badge danger="true" *ngSwitchDefault>{{item.status}}</mdb-badge>
                  </div>

                </div>
                  <div class="d-flex flex-row ml-5 mb-2">
                    <div class="text-muted mr-2">Deadline:</div>
                    <div>{{getDeadlineFormat(item)}}</div>
                  </div>
                <div class="d-flex flex-row ml-5 " *ngIf="item.assignedUsers.length>0">
                  <div class="text-muted mr-2">Assigned users:</div>
                  <div class="chip" *ngFor="let assignedMember of item.assignedUsers">
                    <img src="../../../../../assets/images/user.svg" alt="Contact Person">{{assignedMember.username}}
                  </div>
                </div>
                </div>
                <ul class="list-unstyled " *ngIf="item.children.length > 0">
                  <ng-container
                    *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit: item.children }"></ng-container>
                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>
          </mdb-accordion>
         <!-- <div class="no-children-task" *ngIf="item.children.length===0">

            <div class="d-flex flex-row dropdown" mdbDropdown>
              <div class="p-0 pr-1 text-center">
                <mdb-checkbox class="custom-checkbox" #checkbox [checked]="item.selected"
                              (change)="select(item)" [filledIn]="true" [inline]="true"></mdb-checkbox>

              </div>
              <div class="pr-3 task-text"> {{ item.description }}
              </div>
              <div class="small text-muted edit-task-button mr-4"  (click)="createOrUpdateToDo.show('Update todo',item);" >         <mdb-icon fas icon="pen"  ></mdb-icon>
                Edit</div>
              <div class="chip" *ngFor="let assignedMember of item.assignedUsers">
                <img src="../../../../../assets/images/user.svg" alt="Contact Person">{{assignedMember.username}}
              </div>
            </div>

          </div>-->

        </li>
      </ng-template>

      <ul class="list-unstyled">
        <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit:todos }"></ng-container>
      </ul>

    </div>
  </div>
</div>


<div class="d-flex flex-row">

  <div>
    <button mdbBtn type="button" color="default" size="sm" mdbWavesEffect
            (click)="createOrUpdateToDo.show('create to do')">Add task to root
    </button>
  </div>
  <div>
    <button mdbBtn type="button" color="default" size="sm" [disabled]="!anySelected" mdbWavesEffect>Delete task</button>
  </div>
  <div>
    <button mdbBtn type="button" color="default" size="sm" [disabled]="!anySelected" mdbWavesEffect>Add task</button>
  </div>


</div>
