@import "../../app.component.scss";

.form-elegant .font-small {
  font-size: 0.8rem;
}

.form-elegant .z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
  box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
}


.login-form-header {
  color: $navigationBarColor !important;
}

.active {
  color: $navigationBarColor !important;
}

.lead{
  text-align: justify !important;
}
@media (min-width: 1140px) {

  .custom-container {
    margin-left: 20%;
    margin-right: 10%;
  }
}
@media (min-width: 992px) {

  .custom-container {
    margin-left: 10%;
    margin-right: 5%;
  }
}
@media (max-width: 1500px) {

  .logo {
    display: none !important;
  }
}
