<div class="row">
  <div class="col-xl-4 col-lg-6 col-md-8  col-sm-8 mx-auto my-5">
    <section class="form-elegant">
      <mdb-card class="custom-card">
        <mdb-card-body class="mx-4">
          <!--Header-->
          <div class="text-center login-form-header">
            <h3 class=" mb-5">
              <strong>Sign in</strong>
            </h3>
          </div>

          <form [formGroup]="elegantForm"
                (ngSubmit)="signIn(usernameInput.value,passwordInput.value)"
          >
            <div class="md-form">
              <input #usernameInput type="text" id="elegantFormUsernameEx"
                  [className]="((elegantFormUsernameEx.touched||submitted)&&elegantFormUsernameEx.hasError('required'))? 'form-control is-invalid':'form-control'"
                     formControlName="elegantFormUsernameEx"
                     mdbInput>
              <label for="elegantFormUsernameEx">Enter your username</label>
              <div *ngIf="elegantFormUsernameEx.touched&&elegantFormUsernameEx.hasError('required')"
                   class="invalid-feedback"
              >
                Username must be filled!
              </div>
            </div>

            <div class="md-form pb-3">
              <input #passwordInput type="password" id="elegantFormPasswordEx" formControlName="elegantFormPasswordEx"
                     [formControl]="elegantFormPasswordEx"
                     [className]="((elegantFormPasswordEx.touched||submitted)&&elegantFormPasswordEx.hasError('required'))? 'form-control is-invalid':'form-control'"

                     mdbInput>
              <label for="elegantFormPasswordEx">Enter your password</label>
              <div *ngIf="elegantFormPasswordEx.touched&&elegantFormPasswordEx.hasError('required')"
                   class="invalid-feedback">
                Password must be filled!
              </div>
              <p class="font-small blue-text d-flex justify-content-end">
                <a [routerLink]="['/forgotten-password']" class="custom-link ml-1">Forgot password?</a>
              </p>

            </div>
            <!--Body-->

            <div class="text-center mb-3">
              <div *ngIf="logInError" class="alert alert-danger" role="alert">
                Incorrect credentials!
              </div>
              <div *ngIf="loggingInProgress" class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
              <button *ngIf="!loggingInProgress" type="submit" mdbBtn  block="true" rounded="true"

                      class="z-depth-1a custom-button"
                     >Sign in
              </button>
            </div>
          </form>

          <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> or Sign in with:</p>

          <div class="row my-3 d-flex justify-content-center">
            <a (click)="loginWithFB()"><i class="fab fa-facebook round-social-icon facebook-icon"></i></a>
            <a ><i class="fab fa-github round-social-icon github-icon"></i></a>

          </div>
        </mdb-card-body>
        <!--Footer-->
        <div class="modal-footer mx-5 pt-3 mb-1">
          <p class="font-small grey-text d-flex justify-content-end">Not a member?
            <a [routerLink]="['/register']" class="custom-link ml-1"> Sign Up</a>
          </p>
        </div>
      </mdb-card>

    </section>
  </div>
</div>

