
<app-create-edit-user-todo #createOrUpdateToDo
                           [user]="user" [title]="'Update'"
></app-create-edit-user-todo>
<!-- Material inline 1 -->
<div class="container-fluid pb-3 border-bottom " >
  <div class="ml-2 mb-1">
    <strong>Filter</strong>
  </div>

  <div class="d-flex flex-row">
    <div class="ml-2">
      <mdb-checkbox #checkbox [checked]="false"
                    (change)="selectAll(checkbox)" [filledIn]="true" [inline]="true">select all
      </mdb-checkbox>
    </div>
    <div class=" md-form p-0 m-0 ml-2">
      <input type="search" #searchTodo (keyup)="searchTodo.value" placeholder="search todo">
    </div>
  </div>
</div>

<div class="container-fluid mt-3 mb-3 border-bottom  tasks">

  <div class="ml-2">
    <h4 class="h5-responsive"><strong>Tasks </strong>
    </h4></div>
  <div class="row">
    <div class="col-12 d-flex flex-column" *ngIf="loading">
      <div class="p-2 m-auto">
        <div class="spinner-grow text-dark" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="p-2 m-auto">loading todos</div>

    </div>
    <div class="col-12 d-flex justify-content-center mb-2" *ngIf="!loading && allToDos.length===0">
      no todos
    </div>
    <div class="col-12 tree-view">

      <ng-template #recursiveListTmpl let-list>
        <li *ngFor="let item of list "
            class="d-flex flex-nowrap" @items>
          <mdb-accordion [multiple]="false">
            <mdb-accordion-item [collapsed]="!item.visible"
                                class="accordion-item border-bottom"
            >

              <mdb-accordion-item-head [indicator]="false"

                                       (click)="showOrHideToDo(item,false)"

              >

                <div class="d-flex flex-row flex-nowrap"

                >

                  <div class="pr-3 text-center">
                    <mdb-icon
                      *ngIf="!item.visible" fas icon="angle-right" class="indicator"></mdb-icon>
                    <mdb-icon
                      *ngIf="item.visible" fas icon="angle-down" class="indicator"></mdb-icon>
                  </div>
                  <div class="pl-1 pr-1 text-center">
                    <mdb-checkbox class="custom-checkbox" #checkbox [checked]="item.selected"
                                  (change)="select(item)" [filledIn]="true" [inline]="true"></mdb-checkbox>
                  </div>
                  <div class="pr-3 text-center task-text flex-nowrap"> {{ item.description }}

                  </div>

                </div>


              </mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <div class="ml-5 mb-2 d-flex flex-row justify-content-start small text-muted edit-task-button"
                     (click)="createOrUpdateToDo.show('Update todo',null,item);"    >
                  <div class="mr-1">
                    <mdb-icon fas icon="pen"></mdb-icon>
                  </div>
                  <div>
                    edit
                  </div>
                </div>
                <div class="d-flex flex-column">
                  <div class="d-flex flex-row ml-5 mb-2">
                    <div class="mr-1">
                      <mdb-icon fas icon="spinner"></mdb-icon>
                    </div>

                    <div class="text-muted mr-2">Status:</div>
                    <div class="mr-2" ngSwitch="{{item.status.toUpperCase()}}">
                      <mdb-badge info="true" *ngSwitchCase="'IN PROGRESS'">{{item.status}}</mdb-badge>
                      <mdb-badge warning="true" *ngSwitchCase="'NOT STARTED'">{{item.status}}</mdb-badge>
                      <mdb-badge success="true" *ngSwitchCase="'DONE'">{{item.status}}</mdb-badge>
                    </div>
                    <div *ngIf="todoOverdue(item)===true">
                      <mdb-badge danger="true">Overdue</mdb-badge>
                    </div>

                  </div>
                  <div class="d-flex flex-row ml-5 mb-2">
                    <div class="mr-1">
                      <mdb-icon far icon="clock"></mdb-icon>
                    </div>
                    <div class="text-muted mr-2">Deadline:</div>
                    <div clas>{{getDeadlineFormat(item)}}</div>

                  </div>
                </div>
                <ul class="list-unstyled task-body ml-5" *ngIf="item.children.length > 0">
                  <ng-container
                    *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit: item.children }"></ng-container>
                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>
          </mdb-accordion>
        </li>
      </ng-template>

      <ul class="list-unstyled">
        <ng-container
          *ngTemplateOutlet="recursiveListTmpl; context:{ $implicit: userTodos|todoFilter:searchTodo.value}"
        ></ng-container>
      </ul>

    </div>
  </div>
</div>



<div class="d-flex flex-row mb-3">

  <div>
    <button mdbBtn type="button" class="custom-button" size="sm" mdbWavesEffect
            (click)="createOrUpdateToDo.show('create to do')">Add task to root
    </button>
  </div>
  <div>
    <app-are-you-sure
      #areYouSureComponent
      [heading]="'Are you sure you want to these to dos?'"
      [important]="'This action will remove all its sub tasks'"
      (onOk)="removeTodos()"
    ></app-are-you-sure>
    <button mdbBtn type="button" class="custom-button" size="sm" (click)="areYouSureComponent.show()"
            [disabled]="!anySelected" mdbWavesEffect>Delete task
    </button>
  </div>
  <div>
    <button mdbBtn type="button" class="custom-button" size="sm" [disabled]="!anySelected"
            (click)="createOrUpdateToDo.show('Create todo',selectedTodos)" mdbWavesEffect>Add subtask
    </button>
  </div>



</div>
