@import "../group.component.scss";

.rotate-card {
  font-weight: bold;
}

.back-side {
  background-color: $navigationBarColor !important;
  color: $basicTextColor;

}

.back-side .header {
  border-bottom: 1px solid $basicTextColor !important;
}

.back-side .rotate-back {
  border-top: 1px solid $basicTextColor !important;
}

.rotate-card:hover {
  cursor: pointer;
  text-decoration: underline;
}

.section-header {
  color: $secondaryTextColor;
  margin: 0 !important;
}

.card-up, .btn-action, .card-footer {
  background-color: $navigationBarColor;
  height: 30% !important;
}

.card-footer ul li, .btn-action i {
  color: $basicTextColor !important;
  text-align: left;
}

.btn-action i {
  text-align: center;
  font-size: 1.5em;

}

.btn-action {
  height: 50px;
  width: 50px;

}

.unread-messages {
  position: absolute;
  right: 0%;
  background-color: $navigationBarColor;
  padding: 8px;

  color: $basicTextColor;
  font-size: 1.1em;
}



