<!--Grid row-->
<h1 class="h1-responsive text-center font-weight-bold border-bottom pb-4">Your account</h1>

<div class="row mr-0 pb-5">
  <div class="floating-part col-lg-12 col-xl-2 border-right">

    <button mdbBtn color="primary" class="waves-light ham-but" type="button" (click)="test.toggle()" mdbWavesEffect>
      <mdb-icon fas icon="bars"></mdb-icon>
    </button>

    <div class="collapsed-part" mdbCollapse #test="bs-collapse">
      <div class="mdb-scrollspy-ex">
        <ul mdbScrollSpy="scrollspy4" class="nav d-flex flex-column p-3">
          <li class="nav-item py-2"><a  [routerLinkActive]="['active']" mdbScrollSpyLink="personalInformation" class="nav-link"
                                       [routerLink]="['./personal-information']">
            <mdb-icon fas icon="info mr-3"></mdb-icon>
            Personal information
          </a></li>
          <li class="nav-item py-2" ><a [routerLinkActive]="['active']" mdbScrollSpyLink="settings" class="nav-link"
                                       [routerLink]="['./settings']">
            <mdb-icon fas icon="cog mr-3"></mdb-icon>
            Settings
          </a></li>
          <li class="nav-item py-2" ><a [routerLinkActive]="['active']" mdbScrollSpyLink="changePassword" class="nav-link"
                                       [routerLink]="['./change-password']">
            <mdb-icon fas icon="key mr-3"></mdb-icon>
            Change password
          </a></li>

          <li class="nav-item py-2" ><a [routerLinkActive]="['active']" mdbScrollSpyLink="pomodoroHistory" class="nav-link"
                                       [routerLink]="['./pomodoro-history']">
            <mdb-icon far icon="clock mr-3"></mdb-icon>
            Pomodoro history
          </a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-12 col-xl-10">
    <div class="container"> <router-outlet></router-outlet></div>

  </div>
</div>
