@import "../../app.component.scss";

.my-account-side-nav {
  max-width: 400px;
  min-width: 400px;
}

.nav-link {
  color: $navigationBarColor !important;
  opacity: 0.8;
}

.header {
  color: $navigationBarColor;
}
