<div class="container-fluid my-5">
  <div class="row">
    <div class="col-md-2">
      <div class="container my-account-side-nav">
        <div class="row">
          <div class="col-8">
            <div class="nav flex-column nav-pills shadow" id="v-pills-tab" role="tablist" aria-orientation="vertical">

              <a class="nav-link border " [routerLinkActive]="['active']" data-toggle="pill"
                 [routerLink]="['./personal-information']" role="tab"
                 aria-controls="v-pills-home" aria-selected="true">Personal information</a>
              <a class="nav-link border" [routerLinkActive]="['active']" data-toggle="pill"
                 [routerLink]="['./change-password']" role="tab"
                 aria-controls="v-pills-messages" aria-selected="false">Change password</a>
              <a class="nav-link border" [routerLinkActive]="['active']" data-toggle="pill"
                 [routerLink]="['./pomodoro-history']" role="tab"
                 aria-controls="v-pills-profile" aria-selected="false">Pomodoro history</a>
              <a class="nav-link border" [routerLinkActive]="['active']" data-toggle="pill"
                 [routerLink]="['./settings']" role="tab"
                 aria-controls="v-pills-profile" aria-selected="false">Settings</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-7">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
